{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="all_sections_wrapper">
        <section id="sv" class="sv">
            <div class="sv_header">Обо мне</div>
            <div class="big_photo">
                <img class="big_photo" src='{% static "landing/images/about_img.png"%}'>
            </div>
            <div class="sv_buttons_wrapper">
                <div class="sv_button">
                    <span>Образование</span>
                    <button class="more_info"><a href="#education">Посмотреть</a></button>
                </div>
                <div class="sv_button">
                    <span>Повышение квалификации</span>
                    <button class="more_info"><a href="#more_education">Посмотреть</a></button>
                </div>
                <div class="sv_button">
                    <span>Благодарности</span>
                    <button class="more_info"><a href="#diplomas">Посмотреть</a></button>
                </div>
                <div class="sv_button">
                    <span>Выступления и <br>
                        публикации</span>
                    <button class="more_info"><a href="#publications">Посмотреть</a></button>
                </div>
            </div>
        </section>
        <section id="education" class="education">
            <h3>Образование:</h3>
            <ol>
                <li>ФГБОУВО ПГУ г.Пенза «Педагогические образование» бакалавр- 2016г.</li>
                <li>ГАОУ ДПО ИРР г.Пенза «Тьютор в системе инклюзивного образования» (с отличием) -2018г.</li>
                <li>АНО ДПО ЦИиПР г.Тольятти «Педагог- дефектолог. Тьютор» -2018 г.</li>
                <li>Picture Exchange Communication System Level 1 Training ООО Учебный АВА Центр «Моя Планета» г.Москва
                    лекторы:
                    Sibyiie Bajorat,Ольга Попова -2018г.</li>
                <li>1 модуль BCBA «Базисные принципы Прикладного анализа поведения (АВА) и процедуры для изменения
                    поведения»(55
                    часов) г. Москва руководитель и преподаватель программы Юлия Эрц – 2019г. </li>
                <li>Pyramid Fpproach to Education Training ООО Учебный АВА Центр «Моя Планета» г.Сочи лекторы: Sibyiie
                    Bajorat,Ольга Попова -2020г.</li>
            </ol>
        </section>
        <section id="more_education" class="more_education">
            <h3>Повышение квалификации:</h3>
            <ol>
                <li>Курс вебинаров «Система комплексного непрерывного соправождения,абилитации, реабилитации и
                    социальной
                    адаптации детей, подростков и взрослых людей с РАС» (18 часов), АНО ЦРИД «Наш солнечный мир»,
                    г.Москва.
                </li>
                <li>Курс по практическим навыкам «АВА-Сад» и «Коммуникативная группа», ООО Учебный АВА Центр «Моя
                    Планета»(11,5 часов) г.Москва- 2020г.</li>
                <li>Курс по практическим навыкам «Индивидуальное занятие АВА- терапией», ООО Учебный АВА Центр «Моя
                    Планета»
                    (5,5 часов) г.Москва- 2020г.</li>
                <li>Курс по практическим навыкам «Сенсорная интеграция», ООО Учебный АВА Центр «Моя Планета»(1 час)
                    г.Москва- 2020г.</li>
                <li>Курсы повышения квалификации «Тьюторское сопровождение обучающихся с РАС» (72 часа), г. Москва,
                    МГППУ,
                    2020г.</li>
                <li>Вебинар по теме « Нумикон. Мультисенсорное пособие для обучения математике детей с особенностями
                    развития»(6 часов), г. Москва.</li>
                <li>Understandin and supporting autistic people using the SPELL Framework (6 часов), 2020 г., спикер
                    Rachel
                    Reid руководитель отдела оперативного обучения и консультирования.</li>
                <li>Всероссийский научно- практический семинар «Spell- комплексный подход к сопровождению людей с РАС.
                    Опыт
                    Великобритании.ФРЦ МГППУ г.Москва (6 часов), 2020г.</li>
                <li>Семинар для учителей физкультуры и специалистов адаптивного спорта, РООИ Перспектива, г. Москва 2021
                    г.
                </li>
                <li>ИПКиП Aut Fitness: Специфика проведения занятий по адаптивной физической культуре для детей с РАС,
                    (6
                    часов) г.Москва 2021г.</li>
                <li>Пресс-конференция «2022 – Год информирования о ранней помощи», Центр лечебной педагогики «Особое
                    детство», г. Москва 2022г.</li>
            </ol>
        </section>
        <section id="diplomas" class="diplomas">
            <h3>Благодарности:</h3>
            <ol>
                <li>Благодарственное письмо - за добросовестный труд, активное участие в Федеральной программе
                    «Доступная
                    среда», значительный вклад в развитие образования Пензенского района. Глава администрации
                    Пензенского
                    района С.Н. Козин, 2020г.</li>
                <li>Почетная грамота – за высокий профессионализм, значительный вклад в развитие женского движения
                    Пензенской области. Председатель Союза женщин России Е.Ф. Ляхова,2020г.</li>
                <li>Грамота – за высокий профессионализм, личный вклад в дело образования. Начальник отдела образования
                    администрации Пензенского района Р.В. Греднев, 2021г.</li>
                <li>Благодарность – за значительный вклад в инклюзивное образование детей с РАС. Директор БФ «Караван
                    добрых
                    дел» О.А. Чистякова, 2021г.</li>
                <li>Благодарность Законодательного собрания Пензенской области – за большой вклад в развитие женского
                    движения в Пензенской области, активную гражданскую позицию и результативную деятельность по
                    реализации
                    социально ориентированных проектов. Председатель Законодательного Собрания В.К. Лидин, 2022г.</li>
            </ol>
        </section>
        <section id="publications" class="publications">
            <h3>Высутупления и публикации:</h3>
            <ol>
                <li>Функциональное включение детей с РАС в инклюзивные праздники, музеи г.Пенза, 2020-2022г. </li>
                <li>Онлайн встреча на тему "Эмоциональное выгорание" для родителей воспитывающих детей с РАС, 2020 г.
                </li>
                <li>Семинар для родителей воспитывающих детей с расстройствами аутистического спектра и специалистов
                    «Маршрутизация ребенка с РАС в образовательном учреждении» г.Каменка Пензенской области, 2020г.</li>
                <li>Адаптивный киносеанс для детей с РАС г.Пенза 2021г.-2022г. </li>
                <li>Вебинара «Правовые аспекты реализации рекомендаций ПМПК» г.Пенза 2021г.</li>
                <li>Лекции « Организация обучения детей с РАС .Инклюзивное образование» ГАОУ ДПО ИРР Пензенской области
                    ,
                    г.Пенза 2021 г.</li>
                <li>Семинар для родителей воспитывающих детей с расстройствами аутистического спектра и специалистов
                    «Особенности коммуникативных навыков детей с РАС» г.Пенза 2021г.</li>
                <li>Педагогическая конференция на тему "Организация инклюзивной практики с детьми с РАС», доклад на тему
                    «Тревожность у детей с РАС и стратегии помощи» г.Спутник 2022г.</li>
                <li>Кудашева Н.И. журнал « Аутизм и нарушения развития»
                    Издатель: Московский государственный психолого-педагогический университет
                    2022. Том. 20, № 1. С. 57–62 «Формирование математических представлений у невербального ребенка с
                    РАС.
                    Случай из практики». 2022г. <br>

                    <a href="https://psyjournals.ru/autism/2022/n1/kudacheva.shtml">(<i>Прочитать здесь</i>)</a>

                </li>

            </ol>
        </section>
    </div>
{% endblock %}