* {
    font-weight: 600;
}
.shop
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 1000px;
    background-color: #fff
    padding-bottom: 10px;
}
.shop_header {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.shop_sec
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: 1000px;
    margin-bottom: -20px;
}
.item_wrapper {
    position: relative;
    justify-content: center;
    width: 80%;
    height: 800px;
    background-color: transparent;
}
.item_block {
list-style:none;
}
.buy_button {
    width: 180px;
    height: 50px;
    color: #000;
    background-color: #F98179;
    font-size: 17px;
    font-weight: 700;
    border-radius: 30px;
    bottom: 0;
    border-color: transparent;
    cursor: pointer;
    transition: 0.5s;
    align-items: center;
}

.buy_button:hover {
    border: 2px solid black;
    transition: 0.5s;
}
.item_img{
    height: 200px;
    width: 80%;
    border-radius: 30px;
    padding: 15px;
}
.item_2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
    bottom: 10%;
    right: 20%;
    width: 412px;
    height: 640px;
    background-color: transparent;
    border-radius: 30px;
    margin-bottom: 1px;
}