{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
        <div class="all_sections_wrapper">
        <section class="shop">
            <div class="shop_header">Магазин</div>

                <div class="information_wrapper">

                            <div class="about_director">
                                <div class="about_director_header">
                                    Название товара
                                <div class="line"></div>
                                </div>
                                <div class="about_director_text"> Описание товара
                                    <br>
                                    Еще описание
                                    <br>
                                    И тут еще больше описания И тут еще больше описания
                                    <br>И тут еще больше описания
                                    <br>И тут еще больше описания
                                </div>
                                <img class="item_img" src='{% static "landing/images/logo.png"%}'>
                                <button class="buy_button">
                                        Купить
                                </button>
                            </div>



                </div>
<!--            <div class="item_2">-->
<!--                <div class="item_wrapper">-->

<!--                            <div class="about_director">-->
<!--                                <div class="about_director_header">-->
<!--                                    Название товара-->
<!--                                <div class="line"></div>-->
<!--                                </div>-->
<!--                                <div class="about_director_text"> Описание товара-->
<!--                                    <br>-->
<!--                                    Еще описание-->
<!--                                    <br>-->
<!--                                    И тут еще больше описания И тут еще больше описания-->
<!--                                    <br>И тут еще больше описания-->
<!--                                    <br>И тут еще больше описания-->
<!--                                </div>-->
<!--                                <img class="item_img" src='{% static "landing/images/logo.png"%}'>-->
<!--                                <button class="buy_button">-->
<!--                                        Купить-->
<!--                                </button>-->
<!--                            </div>-->



<!--                </div>-->
<!--            </div>-->

        </section>
        </div>
    </main>
{% endblock %}