{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
        <div class="all_sections_wrapper">
        <section class="shop">
            <div class="shop_header">Магазин</div>
                <div class="shop_sec">
                    <div class="item_wrapper">
                        <div class="item_block">
                            <div class="item_name">
                                <h2>Item Name 1</h2>
                            </div>
                            <div class="item_description">
                                aksjhdkjashd
                                <br>asldjhnas asd  ljd
                                <br>alskdasdasd  d a lkd
                            </div>

                            <button class="buy_button">BUY NOW</button>
                        </div>
                    </div>
                </div>
            <div class="shop_sec">
                    <div class="item_wrapper">
                        <div class="item_block">
                            <div class="item_name">
                                <h2>Item Name 2 </h2>
                            </div>
                            <div class="item_description">
                                aksjhdkjashd
                                <br>asldjhnas asd  ljd
                                <br>alskdasdasd  d a lkd
                            </div>
                            <button class="buy_button">BUY NOW</button>
                        </div>
                    </div>
                </div>

            <div class="shop_sec">
                    <div class="item_wrapper">
                        <div class="item_block">
                            <div class="item_name">
                                <h2>Item Name 3 </h2>
                            </div>
                            <div class="item_description">
                                aksjhdkjashd
                                <br>asldjhnas asd  ljd
                                <br>alskdasdasd  d a lkd
                            </div>
                            <button class="buy_button">BUY NOW</button>
                        </div>
                    </div>
                </div>

            <div class="shop_sec">
                    <div class="item_wrapper">
                        <div class="item_block">
                            <div class="item_name">
                                <h2>Item Name 4 </h2>
                            </div>
                            <div class="item_description">
                                aksjhdkjashd
                                <br>asldjhnas asd  ljd
                                <br>alskdasdasd  d a lkd
                            </div>
                            <button class="buy_button">BUY NOW</button>
                        </div>
                    </div>
                </div>
        </section>


        </div>
    </main>
{% endblock %}