{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'landing/css/index.css' %}" >
    <link rel="stylesheet" href="{% static 'landing/css/index_mobile.css' %}" >
    <link rel="stylesheet" href="{% static 'landing/css/cv.css' %}" />
    <link rel="stylesheet" href="{% static 'landing/css/cv_mobile.css' %}" />
    <link rel="stylesheet" href="{% static 'shop/css/shop.css' %}" />
<!--    <link rel="stylesheet" href="{% static 'landing/css/index_mobile.css' %}" />-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>АНО "Под защитой любви"</title>
</head>

<body>

<div class="site-wrap">
    <header id="header">
        <div class="left_wrapper ">
            <ul class="left_menu">
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'about' %}">Обо мне</a></li>
                <li><a href="{% url 'home' %}#services">Услуги</a></li>
<!--                <li><a href="{% url 'shop' %}">Магазин</a></li>-->
            </ul>
        </div>
        <div class="logo_wrapper">
            <img src= '{% static "landing/images/logo.png"%}'
                alt="logo">
        </div>
        <div class="right_wrapper">
            <div class="contacts">
                <div class="contacts_info">
                    <a href="tel:89374211010">8 (937)-421-10-40</a>
                    <br>
                    <a href="kudacheva.natalia@mail.ru">kudacheva.natalia@mail.ru</a>
                </div>
                <div class="social_links_wrapper">
                    <div class="social_links_item VK">
                        <a href="https://vk.com/pzlcentr"><i class='bx bxl-vk'></i></a>
                    </div>
                    <div class="social_links_item INSTAGRAM">
                        <a href="https://dumpor.com/v/nata_kudasheva_"><i class='bx bxl-instagram'></i></a>


                    </div>
                </div>
<!--                <div class="language_change">-->
<!--                    EN-->
<!--                </div>-->
            </div>
        </div>
    </header>
<section id="modal_window_contacts" class="modal_window_con ">
        <div class="modal_content_wrapper">
            <div class="button"><i class='bx bx-x'></i></div>
            <div class="name">Кудашева Наталья Ивановна</div>
            <div class="message">Будем рады Вашему звонку</div>
            <hr>
            <div class="phone_number"><a class="phone_number" href="tel:89374211010">8 (937)-421-10-40</a></div>
        </div>
    </section>
    <!-- arrow-up -->
    <a href="#header"> <i class='bx bx-upvote'></i></a>
    <!-- /arrow-up -->    {% block content %}
    {% endblock content %}
<section id="mail_form_section" class="mail_form_sec">
            <div class="email_form_wrapper">
                <h1 class="form-description">Вы можете отправить вопрос, <br> отзыв или предложение,<br> написав
                    на
                    почту</h1>
                <h1>
                    <a class="footer_email" href="kudacheva.natalia@mail.ru">kudacheva.natalia@mail.ru</a>
                </h1>
            </div>
        </section>

</div>

{% include 'scripts.html' %}

{% block scripts %}
{% endblock scripts %}

</body>
</html>